* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    font-size: 16px;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

/* grid */
.row {
    display: flex;
    justify-content: space-between;
    margin: 0 10px;
}

.column {
    flex-basis: 25%;
    margin: 0 10px;
}

.wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

header {
    position: fixed;
    top: 0;
    background-color: #fff;
    display: flex;
    width: 100%;
    z-index: 10;
}

.logo {
    font-size: 23px;
    font-weight: 600;
}

.container {
    margin: auto;
    display: inline-flex;
    justify-content: space-between;
    height: 71px;
    align-items: center;
}

.navbar-list {
    display: flex;
    justify-content: space-between;
} 

.navbar-item + .navbar-item {
    margin-left: 16px;
}

.navbar-link {
    font-size: 22px;
    color: #000;
    font-weight: 500;
}

.navbar-link:hover {
    text-decoration: underline;
}

.container-search {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 32px;
}

.container-search input {
    border-radius: 19px;
    height: 100%;
    padding: 0 6px;
    border: 1px solid #333;
}

.container-search i {
    margin-left: 8px;
    font-size: 24px;
}

/* body */
.body {
    width: 100%;
    margin-top: 71px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.slider-1 {
    height: 1000px;
    background: url(/imgs/sontung.jpg) no-repeat center /cover;
    z-index: 1;
    width: 100%;
}

.featured-category {
    margin-top: 84px;
}

.featured-category-heading {
    text-align: start;
    margin-left: 12px;
    margin-bottom: 26px;
}

.featured-category-item {
    box-shadow: 0 1px 2px #000;
    padding: 12px;
    position: relative;
}

.featured-category-item-img1 {
    width: 331px;
    height: 264px;
    object-fit: cover;
}

.featured-category-description {
    margin-top: 24px;
}

.featured-category-list-img2 {
    width: 331px;
    object-fit: cover;
}

.featured-category-item span {
    font-size: 18px;
    font-weight: 600;
}

.featured-category-new {
    position: absolute;
    top: 0;
    left: 0;
    background-color: #f74e4e;
    color: #fff;
    display: block;
    padding: 6px 12px;
}

.slider-2 {
    height: 1000px;
    background: url(/imgs/Banner-Aristino-slide2-desktop-1920x850x0x0x2.webp) no-repeat center /cover;
    z-index: 1;
    width: 100%;
    margin-top: 84px;
}

.slider-3 {
    height: 1000px;
    background: url(/imgs/slider3.jpg) no-repeat center /cover;
    z-index: 1;
    width: 100%;
    margin-top: 84px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
} 

.slider-3 h2 {
    color: #fff;
    text-transform: uppercase;
}

.slider-3 p {
    color: #fff;
    text-transform: uppercase;
    margin-top: 36px;
    padding: 12px 2px;
    cursor: pointer;
    border-bottom: 1px solid #fff;
    position: relative;
}


/* footer */
footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 156px;
    padding: 0 182px;
}

.footer-descript {
    text-align: center;
    margin-top: 24px;
}

.enable {
    color: #EA132C;
}

.wrapper-width {
    margin: auto;
    width: 1424px;
}
